<footer>
  <small>
    Built with the <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate">Eleventy Netlify Boilerplate</a>. You can fix my typos in the <a href="https://github.com/tbarn/new-website">GitHub repo</a>.
  </small>
</footer>
