<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
  <p class="hidden">
  <label>Don't fill this out if you're human: <input name="bot-field" /></label>
</p>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
  <button type="submit" name="submit">Send Message</button>
</form>
