<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <meta name="title" content={{ title or renderData.title or metadata.title }}>
  <meta name="description" content="{{ summary or renderData.summary or metadata.summary }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://taylorbar.net/">
  <meta property="og:title" content="{{ title or renderData.title or metadata.title }}">
  <meta property="og:description" content="{{ summary or renderData.summary or metadata.summary }}">
  <meta property="og:image" content="https://d33wubrfki0l68.cloudfront.net/7fcff069139e600d2472fd6616bad5513664e643/25003/static/img/img_3139.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://taylorbar.net/">
  <meta property="twitter:title" content="{{ title or renderData.title or metadata.title }}">
  <meta property="twitter:description" content="{{ summary or renderData.summary or metadata.title }}">
  <meta property="twitter:image" content="https://d33wubrfki0l68.cloudfront.net/7fcff069139e600d2472fd6616bad5513664e643/25003/static/img/img_3139.jpg">  

  <title>{{ title or renderData.title or metadata.title }}</title>
  
  <link rel="icon" type="image/png" href="/favicon.ico">
  
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://kit.fontawesome.com/d979dc1209.js" crossorigin="anonymous"></script>

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
