<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <meta name="title" content="{{ title or renderData.title or metadata.title }} | Taylor Barnett-Torabi">
  <meta name="description" content="{{ summary or renderData.summary or metadata.summary }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://taylorbar.net/">
  <meta property="og:title" content="{{ title or renderData.title or metadata.title }} | Taylor Barnett-Torabi">
  <meta property="og:description" content="{{ summary or renderData.summary or metadata.summary }}">
  <meta property="og:image" content="https://taylorbar.net{{ main_image }}?123">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://taylorbar.net/">
  <meta property="twitter:title" content="{{ title or renderData.title or metadata.title }} | Taylor Barnett-Torabi">
  <meta property="twitter:description" content="{{ summary or renderData.summary or metadata.summary }}">
  <meta property="twitter:image" content="https://taylorbar.net{{ main_image }}?123">

  <title>{{ title or renderData.title or metadata.title }}</title>
  
  <link rel="icon" type="image/png" href="/favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://kit.fontawesome.com/d979dc1209.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FR11ZE9XXT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FR11ZE9XXT');
  </script>

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
