<nav>
  <ul>
  <li><a href="/">About</a></li>
  <li><a href="/talks">Speaking</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="https://github.com/tbarn">GitHub</a></li>
  <li><a href="https://twitter.com/taylor_atx">Twitter</a></li>
  <li><a href="https://medium.com/@taylor_atx">Medium</a></li>
  <li><a href="https://www.linkedin.com/in/taylormbarnett/">LinkedIn</a></li>  
  </ul>
</nav>
